<h1>Add New Expense</h1>

<%= form_for(@expense) do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit "Add Expense" %>
<% end %>